* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: rgb(5, 5, 5);
    color: rgb(255, 255, 255);
}


canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}

.portfolio-content {
    position: relative;
    z-index: 1;
    padding: 20px;
}